<div class="user-stats">
				<div class="user-followers" id="stats-followers<%= @user.id %>" style="float: left"><i class="fa fa-user" aria-hidden="true"></i> <%= @user.followers.count %></div>
				          
				<div class="user-reviews" id="stats-reviews<%= @user.id %>" style="float: right"><i class="fa fa-pencil" aria-hidden="true"></i> <%= @user.reviews.count %></div>
</div>