
			        	     <div class="user-reviews" id="stats-reviews" style="float: left"><i class="fa fa-pencil" aria-hidden="true"></i> <%= @user.reviews.count %></div>
				             <div style="float: right"><i class="fa fa-commenting-o" aria-hidden="true"></i> <%= @user.comments.count %></div>
