<div class="user-stats">
				            <div class="user-followers" style="float: left"><i class="fa fa-user" aria-hidden="true"></i> <span id="stats-followers-<%= @user.id %>"><%= @user.followers.count %></span></div>
				          
				            <div class="user-reviews" id="stats-reviews" style="float: right"><i class="fa fa-pencil" aria-hidden="true"></i> <%= @user.reviews.count %></div>
</div>