<div class="col-md-3">
  <a href="/users/<%= user.id %>">
    <div class="card">
      <div class ="avt-rounded" >
        <%= image_tag (user.avatar.url) if user.avatar %>
      </div>
      <div class="user-container">
        <h4><b><%= user.name %></b></h4>
        <p><%= user.email %></p>
      </div>
    </div>
  </a>
  <br/>
</div>
