// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  margin-bottom: 30px;
}

.image-size img {
  width: auto;
  height: 150px;
  //min-height: 56.25%;
  max-width: 250px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #d4d5d6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    text-decoration: none;
}

/* Add some padding inside the card container */
.place-container {
    padding: 2px 16px;
    text-decoration: none;
    overflow: hidden;
}

.place-container p:hover, .container h4:hover {
  text-decoration: none;
}

.modal-header {
  background-color: #5792f2;
  color: white;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.modal {
  border: 2px solid #000000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}