.tags-css {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: #2196F3;
    border-radius: 3px;
    margin: 3px;
}

.tags-css a {
    color: #fff !important;
}

.tags-css:hover {
    background-color: #4CAF50 !important;
}