// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-border {
  max-width: 80%;
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  background-color: #fff;
  border: 5px solid #000000;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
 
}
.profile-details{
    max-width: 100%;
  padding: 19px 29px 29px;
  margin: 50px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.avt-rounded {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avt-rounded img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 95%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 15px;
   
    text-align: center;
    padding: 40px;
    
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    text-decoration: none;
}


/* Add some padding inside the card container */
.user-container {
    padding: 2px 16px;
    text-decoration: none;
    overflow: hidden;
}

.user-container p:hover, .container h4:hover {
  text-decoration: none;
}