<h1>All places</h1>

<% if @places.count == 0 %>

	<h1>There are no places currently</h1>

<% else %>	

	<div class="row">

		<% @places.each do |f| %>
      
			<div class="col-md-3">
			  <a href="/places/<%= f.id %>">
			    <div class="card">
				    <div class ="image-size" ><%= image_tag f.overview.thumb.url if f.overview %></div>
				      <div class="place-container">
				        <h4><b><%= f.name %></b></h4>
				        <p><%= f.address %></p>
				      </div>
			    </div>
			   </a>
      </div>
		<% end %>

	</div>
	
<% end %>	
