<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>
 
<p>
  <strong>Image:</strong>
  <%= image_tag @place.overview.thumb.url if @place.overview %>
</p>
